@mixin check_theme {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

div.gswd-content {
  color: white;
  margin-left: var(--rhs-margin);
  flex: 0 auto;
  width: var(--rhs-width);
  position: relative;
  padding-bottom: 15px;
  transition: opacity 0.3s;
}

div.gswd-content-2nd {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

.gswd-search-results {
  list-style: none;
  li {
    padding: 4px 0;
    border-bottom: 1px dotted gray;
    a { font-size: 12pt; }
  }li.bg {
    background-color: #292064;
    @include check_theme {
      background-color: #bfbfbf;
    }
  }
}